[package]
name = "CloverViewer"
version = "0.0.4"
edition = "2024"

[package.metadata.packager]
before-packaging-command = "cargo build --release"
identifier = "com.smallclover.cloverViewer"
icons = ["assets/images/clover_viewer.ico"]

# 将 lib 里的 dll 映射到安装后的根目录
resources = [
    { src = "lib/dav1d.dll", target = "dav1d.dll" }
]

[[package.metadata.packager.binaries]]
path = "CloverViewer.exe"
main = true

[build-dependencies]
winres = "0.1"


[dependencies]
# LRU 缓存，用于限制内存中的图片数量
lru = "0.16.3"
eframe = "0.33.3"
rfd = "0.17.2"
image = { version = "0.25.9", features = [
    "png", "jpeg", "gif", "bmp", "webp", "tiff",
    # 必须是avif-native
    "avif-native" # 为了加载avif格式，必须引入，另外为了通过编译还必须安装pkcg和dav1d
],  default-features = false}

egui = "0.33.3"
kamadak-exif = "0.6.1"
rayon = "1.11.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
arboard = "3.6.1"

tracing = { version = "0.1", optional = true }
tracing-subscriber = { version = "0.3", features = ["fmt"], optional = true }
bytemuck = "1.24.0"

[features]
dev-logs = ["tracing", "tracing-subscriber"]